@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Libre+Bodoni&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');



body{
    line-height: 1.8;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
}

h2,h3,h4,h5,h6 {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}

a {
    font-weight: 700;
    transition: all 0.4s ease;
    text-decoration: none;  
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}

.hero-section {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 14px 22px;
    transition: all 0.4s ease;
}

.btn-main {
    border-radius: 100px;
}

.btn:hover {
    transform: translateY(-4px);
}

.navbar {
    font-family: 'Gotu', sans-serif;
    border-bottom: 1px solid #ead9e7;
}

.logo-text {
    font-family: 'Gotu', sans-serif;
    font-size: 35px;
    color: #2f51b0 !important;
}

.navbar .nav-link {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-item .nav-link > .active {
    color: #f26ed1;
}
.nav-item a:hover {
    color: #f5a69f !important;
}

.bg-light {
    background-color: #ede8e7 !important;
}

#Home .col-12 h1 {
    font-family: 'Forum', cursive;
    text-shadow: 3px 2px 1px grey;
    color: white;
}

#Home .col-12 p {
    background: #e9d1d3;
    opacity: 0.6;
}

/*Healthy Recipe*/
#Healthy-Recipe .col-12 h1 {
    font-family: 'Forum', cursive;
    color: black;
}

.section-intro {
    margin-bottom: 40px;
}

.section-intro .divider {
    height: 2px;
    margin: 0px 400px 5px;
    background: #2f51b0;
}

.card {
    border-radius: 15% 15% 0 0;
}

.Healthy-Recipe img{
    border-radius: 40% !important;
    padding-bottom: 20px;
}

.card:hover {
    transform: translateY(-15px);
    transition: transform .3s;
}

.info {
    line-height: 20px;
}

.avo-toast {
    background: #bddbec;
}

.cookie {
    background: #e9d1d3;
}

.chicken{
    background: #bddbec;
}


/*Healthy Living*/
#Healthy-Living {
    background: #e9d1d3;
}

#Healthy-Living .card-img-top{
    border-top-left-radius: calc(2.25rem - 0px);
    border-top-right-radius: calc(2.25rem - 1px);
}

#Healthy-Living a{
    text-decoration: none !important;  
    color: black;
    font-weight: 100;
}

#Healthy-Living .col-12 h1 {
    font-family: 'Forum', cursive;
    color: black;
}

/*About us*/
.About-Us-section {
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About-Us .col-12 h1 {
    color: whitesmoke;
    font-family: 'Cormorant', serif;
    font-size: 55px;
}

#About-Us p {
    color: whitesmoke;
    font-size: 20px;
    padding: 0 25px;
}

#About-Us .Our-Team h1{
    color: #2f51b0;
    font-family: 'Cormorant', serif;
    font-size: 55px;
}

#About-Us .col img {
    max-width: 30vh;
    padding: 10px 0px ;
    border-radius: 50%;
}

#About-Us .col p {
    color: #2f51b0 !important;
    font-family: 'Cormorant', serif;
    font-size: 25px;
}

#About-Us p.nama {
    margin: 0% !important;
}

#About-Us .col .card-text {
    font-size: 17px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1px 1px;
    color: #253a75;
}

#Recipe .contain {
    text-align: justify;
}

#Recipe .p-1 p {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 30px;
    
}

#Recipe h5 {
    padding-left: 140px;
    padding-right: 140px;
}

#Recipe .p-2 p {
    padding-left: 140px;
    padding-right: 140px;
}

.content {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 50px;
    text-align: justify;
}

h7 {
   letter-spacing: 1px;
   font-size: 45px;
   color: black;
   text-align: center;
   text-decoration: solid;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 4f00px;
}